
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  width:100%;
  height: 100%;
  font-family: sans-serif;
  background: url(../images/bg.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
.fa {
	padding: 20px;
	font-size: 35px;
	width: 3px;
	text-align: center;
	text-decoration: none;
	margin: 2px 1px;
}

.fa:hover {
	color:red;
  font-size: 30px;
}
.fa-twitter, .fa-google, .fa-linkedin, .fa-instagram, .fa-whatsapp,
	.fa-github, .fa-envelope {
	color: white;
}

.right-bar{
	width: 60px;
	height: 80vh;
	background: linear-gradient(#00545d,#000729,transperent);
	position: absolute;
	right: 0;
	bottom: 0;
}
.social-links{
  width:25px;
  margin:5px auto;
  cursor: pointer;
}
.social-links{
  width: 50px;
  text-align: center;
  position: relative;
  top: 80%;
  transform: translateY(-50%);
}
.fas{
  color: white;
}
.contact h1{
  font-size: 35px;
  border-bottom: 5px solid #4caf50;
  margin-bottom: 35px;
  padding: 13px 0;
  color:white;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 22px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
::placeholder{
  color:#00ffb3;

}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}
.info{
  position: absolute;
  right: 100px;
  top: 130px;
  width: 300px;
  padding: 10px;
}
.info a{
  text-decoration: none;
  color:aqua;
  font-size: 20px;
}
@media screen and (max-width: 700px) {
  .info{
    border-top: 20px solid #6ae6d1;
    position: relative;
    left: 0;
    width: 100%;
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;

  }
  .info a{
    color: white;
    margin-left: auto;
    margin-right: auto;
  }
  .rainbow-text1{
    text-align: left;
    align-items: left;
    margin-left: none;
  }
  iframe{
    width: 80%;
  }
}
